@using DrawMap
@model IEnumerable<Note>

@{
    ViewBag.Title = "Your GeoJSON data";
}

<h2>Your GeoJSON data</h2>

@{
    foreach (Note note in Model)
    {
        <div class="note-container">
            <span>@note.Name</span><br>
            <a class="watch-on-map-link" href="@Url.Action("ViewMap", "Home", new {noteId = note.Id})">Watch on map</a> |
            <a class="show-hide-content" href="">Show content</a> |
            <a href="" class="rename-note-link">Rename</a>
            <form class="rename-note-form" action="@Url.Action("RenameNote", "Home")">
                New name:<br>
                <input name="name" type="text">
                <input name="noteId" type="hidden" value="@note.Id">
                <input type="submit" value="Save">
                <input class="cancel-rename-note-btn" type="button" value="Cancel">
            </form>
            <p class="note-content">@note.Content</p>
            <form class="delete-note-form" action="@Url.Action("DeleteNote", "Home")">
                <input name="noteId" type="hidden" value="@note.Id">
                <input class="delete-note-btn" type="submit" value="Delete">
            </form>
        </div>
    }
}

<form id="signout-form" action="@Url.Action("SignOut", "Home")">
    <input type="submit" value="Sign Out">
</form>

<form id="add-note-form" action="@Url.Action("AddNote", "Home")">
    Name:<br>
    <input name="name" id="note-name-input" type="text"><br>
    Content:<br>
    <textarea name="content" id="note-content-input"></textarea><br>
    <input type="submit" value="Add note">
</form>

@section Scripts
{
    <script>
        $(".show-hide-content").on('click', function(e) {
            if ($(e.target).html() === "Show content") {
                $(e.target).html("Hide content");
                $(e.target).siblings(".note-content").show().attr("display", "inline-block");
            } else {
                $(e.target).html("Show content");
                $(e.target).siblings(".note-content").hide();
            }
            return false;
        });

        $(".rename-note-link").on('click', function(e) {
            $(e.target).siblings(".rename-note-form").show();
            return false;
        });

        $(".cancel-rename-note-btn").on("click", function(e) {
            $(e.target).siblings("input[name='name']").val("");
            $(e.target).parent().hide();
        });
    </script>
}